<% include header %>
<h1>Welcome to Portfolio!</h1>
<% users.forEach(function(user) { %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="/users/<%= user.username %>">
        <%= user.name() %>
      </a>
        <img src="<%=user.image%>" alt="image not found" style="width:150px;height:150px;">
    </div>
    <%if(user.bio){%>
      <div class="panel-body"><%= user.bio %></div>
    <%}%>    
  </div>
<% }) %>

<% include footer %>