<% include header %>
<h1><em> Upload profile picture </em></h1>
<form method='post' enctype='multipart/form-data'/>
 <input type='file' name='upl2' required/>
  <input type="submit"  name ="submit" value="Upload" class="btn btn-primary btn-block" />
</form>
<% include footer %>