<% include header %>
<h1> Create Your portfolio</h1>
<form  name ='form' method='post' enctype='multipart/form-data'/>
 <input type='url' name='link' alt="youmna" required/>
   <input type="submit"  name ="submit" value="Upload" class="btn btn-primary btn-block" />
</form>

<% include footer %>